{% extends "main/index.html" %}

{% block content %}
    <div class="container mx-auto">
        <div class="p-7 mx-auto w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-md shadow-lg" src="https://drive.google.com/file/d/1y_OMFP0u2Kbmq74pFq3xklX1gdFOGewC/view?usp=sharing" alt="Rizal"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Rizal Yala Paradhika</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Sales Consultant</span>
                <div class="flex mt-4 md:mt-6">
                    <a href="https://wa.me/6282143970293" class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Message</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}